<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Website</title>
    </head>
</html>
<body>
    {{> header}}
    <p> Some Text here</p>


    {{> footer}} <!-- adding template partial -->

</body>
